
.card {
  border: 1px solid black;
  border-radius: 5px;
  height: 20vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
}